<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Texfield</title>

    <!-- Importing the Ext JS library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/extjs/4.2.1/resources/css/ext-all.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/4.2.1/ext-all-dev.js"></script>

    <!-- Importing our custom class -->
    <script type="text/javascript" src="BasicGridPanel.js"></script>

    <script type="text/javascript">
        Ext.onReady(function(){

            Ext.create('MyApp.view.BasicGridPanel',{
                renderTo : Ext.getBody()
            });

        });
    </script>
    <style type="text/css">
        body{padding:10px;}
    </style>
</head>
<body>
</body>
</html>