<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Texfield</title>

    <!-- Importing the Ext JS library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/extjs/4.2.1/resources/css/ext-all.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/4.2.1/ext-all-dev.js"></script>

    <script type="text/javascript" src="Form.js"></script>
    <!--<script type="text/javascript" src="MyApp/view/clients/Form.js"></script>-->

    <script type="text/javascript">
        Ext.onReady(function(){

            Ext.create('MyApp.view.clients.Form',{
                width	: 300,
                height	: 250,
                renderTo: Ext.getBody()
            });

        });
    </script>
    <style type="text/css">
        body{padding:10px;}
        .new-icon{background:transparent url(images/page_add.png) 0 0 no-repeat !important;}
        .save-icon{background:transparent url(images/disk.png) 0 0 no-repeat !important;}
        .delete-icon{background:transparent url(images/delete.png) 0 0 no-repeat !important;}
    </style>
</head>
<body>
</body>
</html>